* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
@font-face {
  font-family: poppins-regular;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
header {
  width: 1280px;
  height: 2300px;
  background-size: cover;
  font-family: poppins-regular;
  background: url(../images/Blur\ Gradient.png) no-repeat;
}
.navbar {
  height: 70px;
}
.nav {
  gap: 30%;
  display: flex;
  margin-top: 11px;
  text-align: center;
  justify-content: space-evenly;
}
.nav h3 {
  font-size: 30px;
}
nav a {
  color: black;
  margin-left: 20px;
  display: inline-block;
}
.nav-button {
  width: 120px;
  padding: 10px;
  color: white;
  transition: 0.5s;
  border: 1px solid;
  border-radius: 12px;
  background-color: black;
}
.nav-button:hover {
  color: black;
  background-color: white;
}
.head h1 {
  width: 750px;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  margin: 50px auto 30px auto;
}
.head p {
  width: 750px;
  text-align: center;
  margin: 0 auto 50px auto;
}
form {
  width: 500px;
  height: 70px;
  margin: auto;
}
form .email {
  width: 300px;
  height: 70px;
  font-size: 15px;
  padding-left: 20px;
  border-radius: 20px;
}
form .subscribe {
  width: 180px;
  height: 70px;
  color: white;
  font-size: 16px;
  border-radius: 20px;
  background-color: black;
}
.head-img img {
  width: 1000px;
  height: 600px;
  display: block;
  margin: 60px auto 100px auto;
}
.head-main {
  width: 1100px;
  height: 500px;
  margin: auto;
}
.head-main h4 {
  color: #373fff;
  text-align: center;
  margin-bottom: 20px;
}
.head-main h2 {
  margin: auto;
  width: 600px;
  height: 100px;
  font-size: 40px;
  color: #1d2130;
  line-height: 50px;
  text-align: center;
}
.head-description {
  width: 1100px;
  height: 310px;
  display: flex;
  margin-top: 50px;
  border-radius: 24px;
  padding: 60px 0 0 30px;
  background-color: #e0e4fc6e;
  justify-content: space-evenly;
}
.head-description h3 {
  width: 260px;
  color: #1d2130;
}
.head-description p {
  width: 350px;
  font-size: 13px;
  color: #1d2130;
  padding-top: 10px;
}
.main-section {
  gap: 140px;
  width: 1100px;
  display: flex;
  margin: 160px auto;
}
.main-title {
  width: 550px;
}
.main-title h4 {
  color: #373fff;
}
.main-title h2 {
  margin: 20px 0;
  font-size: 30px;
  line-height: 40px;
}
.main-title p {
  font-size: 11px;
}
.main {
  display: flex;
}
.main-img .images {
  margin: 18px 0;
}
.main-description p {
  font-size: 15px;
}
.main-description .paraqraf {
  margin: 24px 0;
}
